<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container" >
        
            <!-- Navbar Barnd -->
            <div class="navbar-header" style="width: 100%;">
            <span >
            <a href=""><img src="__ADMIN__/images/logo.png" alt="" style="width: 210px;"></a>
        </span>
                <a href="#" class="navbar-brand" style="float: none;margin: 0.5% 0 0 21%;">
                    <small>
                            重庆工商大学派斯学院学报期刊后台管理系统
                        </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            
            <!-- Account Area and Settings -->
            <div class="navbar-header pull-right" style="right: 50px;">
                <div class="navbar-account">
                    <ul class="account-area" style="right: 30px;">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown" style="width: 100px;border-left:2px solid white;">
                                <section>
                                    <h2><span class="profile"><span>{$name} <i class="fa  fa-angle-down"></i></span></span></h2>
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area" >
                                <li class="username"><a>David Stevenson</a></li>
                                <li class="dropdown-footer" style="text-align: center;">
                                    <a href="{:url('login/logout')}">退出登录</a>
                                </li>
                                <li class="dropdown-footer" style="text-align: center;">
                                    <a href="{:url('user/edit',array('uid'=>cookie('uid'),'rid'=>cookie('rid')))}">修改密码</a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </li>
                        <!-- /Account Area -->
                        <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                        <!-- Settings -->
                    </ul>
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>