<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
	<!-- 轮播 -->
	<div class="lunbo block">
		<div class="content">
			<div id="imgs" data-interval="2000" data-ride="carousel" class="carousel slide" >
				<div class="carousel-inner">
					<div class="item active">
					<img src="__INDEX__/picture/1.jpg">
					<div class="carousel-caption"><a href="">标题1</a></div>
					</div>
					<div class="item">
					<img src="__INDEX__/picture/2.jpg">
					<div class="carousel-caption"><a href="">标题2</a></div>
					</div>
					<div class="item">
					<img src="__INDEX__/picture/3.jpg">
					<div class="carousel-caption"><a href="">标题3</a></div>
					</div>
					<div class="item">
					<img src="__INDEX__/picture/4.jpg">
					<div class="carousel-caption"><a href="">标题4</a></div>
					</div>

					<ul class="carousel-indicators">
					<li data-target="#imgs" data-slide-to="0" class="active"></li>
					<li data-target="#imgs" data-slide-to="1"></li>
					<li data-target="#imgs" data-slide-to="2"></li>
					<li data-target="#imgs" data-slide-to="3"></li>
					</ul>
				</div>
					<a href="#imgs" data-slide="prev" class="carousel-control left"><span class="center-block"><</span></a>
					<a href="#imgs" data-slide="next" class="carousel-control right"><span class="center-block">></span></a>
			</div>
		</div>
	</div>
			<!-- 滚动公告 -->
				<div class="notice block">
					<div class="title xbgg">
						<div class="title_1">学报公告 <a href="#" class="more">查看更多&gt;&gt;</a></div>
					</div>
					<div class="content">
						<ul style="height: 148px;">
			<marquee direction="up" height="148" width="100%" scrollamount="1" scrolldelay="100" onmouseout="this.start()" onmouseover="this.stop()">
				<li><i>1</i>
				<a href="">
					《上海大学学报（自然科学版）》第六届编辑委员会成立大会顺利召开
				</a>
				 <span class="date-time">(2019-08-22)</span>
				</li>

				<li><i>2</i>
				<a href="../column/item546.shtml">
					《上海大学学报（自然科学版）》已正式加入OSID开放科学计划
				</a>
				 <span class="date-time">(2019-07-05)</span>
				</li>

				<li><i>3</i>
				<a href="../column/item59.shtml">
					《上海大学学报（自然科学版）》第三届优秀审稿专家评选结果揭晓
				</a>
				 <span class="date-time">(2018-12-18)</span>
				</li>

				<li><i>4</i>
				<a href="../column/item58.shtml">
					喜讯！《上海大学学报（自然科学版）》被EBSCO学术数据库收录
				</a>
				 <span class="date-time">(2018-06-22)</span>
				</li>

				<li><i>5</i>
				<a href="../column/item60.shtml">
					《上海大学学报(自然科学版)》入选2017年全国“百强科技期刊”
				</a>
				 <span class="date-time">(2018-01-23)</span>
				</li>
			</marquee>
		</ul>
					</div>
				</div>
			<!-- 最新期列表 -->
				<div class="newlist block">
					<div class="title zxqlb" >
						<div class="title_1">最新期列表 
						
						<a href="#" class="more">查看更多&gt;&gt;</a></div>
					</div>
					<div class="content">
						<div class="jtitle">
							<div class="njq">2019年 第25卷 第6期 &nbsp;&nbsp; 刊出日期：2019-12-30</div>
						</div>
<form id="AbstractList" action="" method=post target=_blank>
	<div id='art17047' class=noselectrow>
		<div class="wenzhang">
		<dl>							
			<div class="dqml_qbwz">
				<dd>
					<a target="_blank" href="{:url('article/article')}" class="biaoti">资本市场中公众企业信息披露的Nash均衡</a>						
				</dd>
				<dd class="zuozhe">马嘉萌, 郭苏稼, 李远勤</dd>
				<dd class="zhaiyao">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao1" href="javascript:void(0)" onclick="if (document.getElementById('Abstract17065').style.display=='block') document.getElementById('Abstract17065').style.display='none'; else document.getElementById('Abstract17065').style.display='block'">摘要</a> 
					( <font color="red">5</font> )&nbsp;&nbsp;
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="txt_zhaiyao1" href="#1" onclick="lsdy1('PDF','17065','http://www.journal.shu.edu.cn','2019','1221');return false;">PDF</a> (664KB)
					(<font color="red">2</font>)&nbsp;&nbsp; 											
				</dd>
					<div id="Abstract17065" class="white_content zhaiyao">旨在探讨信息披露如何约束上市公司，为解释以前文献的争议提供思路.通过建立不同类型企业在融资过程中的博弈模型，考虑专业投资者的比例，对该模型中纯战略Nash均衡和混合战略Nash均衡展开分析，以揭示信息披露如何在保障资本市场正常运作中不可或缺.研究表明，懂得依据公司质量进行投资的专业投资者比例越小，强制信息披露带来的社会总收益增加越大；特别地，当专业投资者小于一定比例时，强制信息披露是维持市场稳定的必要机制，能有效避免市场的失灵.强制信息披露带来的社会总收益增加在以下情况中更大：投资回报率差异显著，投资规模较大，融资成本较高，市场对于不披露信息惩罚较大.</div>
			</div>
		</dl>
		</div>
	</div>
	<div class=noselectrow>
		<div class="wenzhang">
		<dl>							
			<div class="dqml_qbwz">
				<dd>
					<a target="_blank" href="http://www.journal.shu.edu.cn/CN/10.12066/j.issn.1007-2861.2117" class="biaoti">资本市场中公众企业信息披露的Nash均衡</a>						
				</dd>
				<dd class="zuozhe">马嘉萌, 郭苏稼, 李远勤</dd>
				<dd class="zhaiyao">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao1" href="javascript:void(0)" onclick="if (document.getElementById('Abstract17065').style.display=='block') document.getElementById('Abstract17065').style.display='none'; else document.getElementById('Abstract17065').style.display='block'">摘要</a> 
					( <font color="red">5</font> )&nbsp;&nbsp;
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="txt_zhaiyao1" href="#1" onclick="lsdy1('PDF','17065','http://www.journal.shu.edu.cn','2019','1221');return false;">PDF</a> (664KB)
					(<font color="red">2</font>)&nbsp;&nbsp; 											
				</dd>
					<div id="Abstract17065" class="white_content zhaiyao">旨在探讨信息披露如何约束上市公司，为解释以前文献的争议提供思路.通过建立不同类型企业在融资过程中的博弈模型，考虑专业投资者的比例，对该模型中纯战略Nash均衡和混合战略Nash均衡展开分析，以揭示信息披露如何在保障资本市场正常运作中不可或缺.研究表明，懂得依据公司质量进行投资的专业投资者比例越小，强制信息披露带来的社会总收益增加越大；特别地，当专业投资者小于一定比例时，强制信息披露是维持市场稳定的必要机制，能有效避免市场的失灵.强制信息披露带来的社会总收益增加在以下情况中更大：投资回报率差异显著，投资规模较大，融资成本较高，市场对于不披露信息惩罚较大.</div>
			</div>
		</dl>
		</div>
	</div>
</form>
					</div>
				</div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

</body>
</html>