<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$art['atitle']}</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- head开始 -->
	<div class="header" style="height: 150px;">
		<div class="banner">
		<img src="__INDEX__/picture/logo.png" alt="">
		</div>
</div>
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row2">
	<div class="col-md-12">
	</div>
		<h4 class="m-nav"><a href="{:url('index/index')}">学报首页</a>/<a href="{:url('joulist/history',array('juan'=>$art['juan']))}">{:date('Y',$art['use_time'])}年 {$art['juan']}卷</a>/<a href="{:url('joulist/artlist2',array('juan'=>$art['juan'],'qishu'=>$art['qishu']))}">第{$art['qishu']}期</a>/<span>{$art['atitle']}</span></h4>
		
		<h2 class="abs-tit">
         {$art['atitle']}
         
       </h2>
       <p><small>[{$art['number']}]</small> </p>
		<!-- 文章编号：XXXX－XXXX（YYYY）NN－PPPP－CC
		XXXX－XXXX为文章所在期刊的国际标准刊号(ISSN，参见GB 9999)，YYYY 为文章所在期刊的出版年，NN为文章所在期刊的期次，PPPP 为文章首页所在期刊页码，CC为文章页数，“-”为连字符。 -->
       <p data-toggle="collapse" data-target="#divPanel">
        <span>{$art['name']}&nbsp;&nbsp;
        <span data-placement="right" type="button">
        <i class="glyphicon glyphicon-menu-down" style="cursor:pointer;"></i>
        <div id="divPanel" class="bs-callout collapse in" aria-expanded="true" style="">
        <address class="address">
            <ol class="list-unstyled">
				<li>{$art['edu']}&nbsp;&nbsp;{$art['company']}&nbsp;&nbsp;{$art['direction']}&nbsp;&nbsp;{$art['address']}</li>
			</ol>
        </address>
        <ul class="list-unstyled code-style" style="overflow: hidden;">
            <li><code>作者简介:</code><br>
				&nbsp;{$art['name']}({$art['age']}),{if condition="$art['sex'] eq 1"}男{else /}女{/if},{$art['edu']},{$art['position']},研究方向:{$art['direction']}.
				E-mail:{$art['email']}<br>
			</li>
        </ul>
    </div>
    </p>

	

    <div class="group clearfix">
        <div class="row diyihangdg">
			<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 margin-bottom-10">
	            <span class="change-section">
	                <a href="{$art['thumb']}" class="black-bg btn-menu">
	                    <img src="__INDEX__/images/download.jpg" alt="">
	                    <h2>下载 </h2>
	                    <span class="badge">{$art['download']}</span>
	                </a>
	            </span>
            </div>
            <!-- <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 margin-bottom-10" id="knowledge_map_div" style="display:none;">
                <span class="change-section">
                    <a href="#">
                        <i class="fa text-muted"><img src="../../images/knowledge_map1.png" height="40" style="margin:0px;" width="36" id="knowledge_map_img"></i>
                        <h2>可视化</h2>
                        <span class="badge" id="knowledge_map_count">0</span>
                    </a>
                </span>
            </div> -->
        </div>        
    </div>

	<!-- 折叠面板 -->
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion"
			href="#collapseOne" >
			<h4 class="panel-title">摘要</h4>
		</a>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body line-height text-justify" >
			<p><strong>摘要： </strong>{$art['summary']}</p>
			<p><strong>分类: </strong>{$art['acatename']}</p>
	        <p><strong>关键字：</strong>{$art['keywords']}</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion"
			href="#collapseTwo">
			<h4 class="panel-title">参考文献</h4>
		</a>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse in">
			<div class="panel-body">
			<table width="98%" border="0" align="center" cellpadding="0" cellspacing="8">
				<tbody>
				{volist name="$art['refrences']" id="val"}
					<tr><td class="J_author"> 
						{$val}
					</td></tr>
				{/volist}
				</tbody></table>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a data-toggle="collapse" data-parent="#accordion"
			href="#collapseThree">
			<h4 class="panel-title">备注</h4>
		</a>
		</div>
		<div id="collapseThree" class="panel-collapse collapse in">
			<div class="panel-body">
			<p><strong>收稿日期： </strong>{:date('Y-m-d',$art['draft_time'])}</p>
			<p><strong>网络出版日期： </strong>{:date('Y-m-d',$art['use_time'])}</p>
			<p><strong>中图分类号： </strong>{$art['aclassid']}</p>
			<p><strong>期刊编号： </strong>[ISSN {$art['issn']}|CN {$art['cn']}]</p>
			<p><strong>更新日期： </strong>{:date('Y-m-d',$art['update_time'])}</p>
			</div>
		</div>
	</div>
</div>
	<!-- 折叠面板end -->
	

	</div>
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

</body>
</html>