<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重庆工商大学派斯学院学报-{$title}</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head><style type="text/css">
	.left-sidebar{
		color: black;
	}
</style>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
			<h1 class="item_title">{$title}</h1>
			<div class="item_biaoti">投稿指南</div>
			<div class="item_content">
	文章内容<br>
	一般不想失去的，都是令自己最难忘放不下的。
那，有没有不难忘，却又在心里面挥之不去，想忘却释怀不了的一段灰色光阴呢?
我的人生还未开始就已经被剔出了局，我称之为落寞。
生活的美好是如何定义的?是不是都需要相亲相爱来铺垫?
那是一种什么样的画面……对我来说，简直就是个不可企及的幻想。
而我的年少成长，却是被自卑取代了整段光阴的色彩，只有挣扎在灰黑色的原生环境里，无丝毫轻松。从我落地到一岁断奶，就被理所当然的冷落，成了名副其实的留守儿童。
我蹒跚学步到能够蹦蹦跳跳的年纪，已经开始记事了，也知道谁待自己真，谁不待见自己。
幼年里没有父母的影子，唯一刻在脑海里的只有一个印象，那就是---父母并不喜欢自己，他们在外面有自己的骨肉宝贝，而我只是个多余的。
在小小的心灵里，藏着一句不敢跟任何人讲的话：他们不喜欢我，我的存在对他们来说就是个笑话，我真的很害怕跟他们在一起，害怕看到他们，害怕一起有他们在的地方。
虽然如此，可我年幼的这些岁月里并不会心事重重，因为的童年，陪伴在我身边的是，跟所谓的大人没有丝毫干系，所以这段时光对我来说，是这一生当中仅有的快乐，一切美好事物全部尘封在这里面。
我仍然能在记忆里浮现出，曾经欢脱的小丫头，总在唯一疼爱的姥姥身边围转。
姥姥的身上有种异乎寻常的脱俗气息，无需言语，只要一个眼神，一个微笑，我这蒙昧的小丫头如同小枝丫般的弯腰依赖在她怀里。
			</div>
			<div class="liulancishu">
		 			发布日期：2012-10-30 浏览：38796
            </div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

</body>
</html>