<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>重庆工商大学派斯学院学报-在线审稿系统</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="__ROOT__/favicon.ico" rel="icon">
  <!-- <link href="__ROOT__/favicon.ico" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="__INDEX__/reviewers/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="__INDEX__/reviewers/css/style.css" rel="stylesheet">

  <!-- icheck-bootstrap.css -->
  <link rel="stylesheet" href=" __INDEX__/css/icheck-bootstrap.css">

  <!-- checkboxes.min.css -->
  <link rel="stylesheet" type="text/css" href="__INDEX__/css/checkboxes.min.css">




  <!-- =======================================================
    Template Name: Pratt
    Template URL: https://templatemag.com/pratt-app-landing-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
<style>
.panel-default>.panel-heading{
  color: white;
  background-color: #8B8386;
}
.panel-default>.panel-heading a{
  color: white;
}

.panel-default>.panel-heading a:hover{
  color: #3bc492;
}

.signin-form input[type="text"], .signin-form input[type="email"], .signin-form input[type="password"]{
  text-transform: none;
}

</style>
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

  <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smothscroll" href="#home"><b>重庆工商大学派斯学院在线审稿系统</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home" class="smothscroll">主页</a></li>
          <li><a href="#reviewers" class="smothscroll">审稿</a></li>
          <li><a href="#message" class="smothscroll">个人信息修改</a></li>
        </ul>
      </div>

      <!--/.nav-collapse -->
    </div>
  </div>

  <section id="home" name="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <h3>欢迎 <b>{$user['name']}</b></h3>
            <br>
          </div>

          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">基本信息</div>
            <!-- Table -->
            <table class="table">
              <tbody>
                <tr>
                  <td scope="row">电话：{$user['tel']}</td>
                  <td scope="row">邮箱：{$user['email']}</td>
                  <td scope="row">审稿类型：{$user['acatename']}</td>
                </tr>
                <tr>
                  <tr>
                  <td scope="row">待审核稿件&nbsp;&nbsp;<span class="badge badge-warning">{$num_nshenhe}</span></td>
                  <td scope="row">已通过稿件&nbsp;&nbsp;<span class="badge badge-success">{$num_pass}</span></td>
                  <td scope="row">未通过稿件&nbsp;&nbsp;<span class="badge badge-danger">{$num_npass}</span></td>
                </tr>
                <tr>
                  
                  <td><a href="{:url('Login/logout',array('id'=>$user['id']))}">退出并注销账号</a></td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
  </section>


  <section id="reviewers" name="reviewers">
    <!-- INTRO WRAP -->
    <div id="intro">
      <div class="container">
        <div class="row centered">
          <h1>审稿</h1>
            <div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false"> -->
      <h4 class="panel-title">待审核稿件&nbsp;&nbsp;<span class="badge badge-success">{$num_nshenhe}</h4>
    </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="false">
      <table class="table">
        <tbody>
        
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
          <th>操作</th>
        </tr>

        {volist name="nshenhe" id="vo"}
        
          <tr>
            <td>
            {if condition="$vo['is_repeat'] eq 0"}
            <span class="badge badge-success">首投</span>
            {else /}
            <span class="badge badge-warning">重投</span>
            {/if}
            </td>
            <td>{$vo['title']}</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal{$vo['id']}">
              <!-- data-target的值由#myModal+id组成 -->
                {$vo['author']}
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal{$vo['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">{$vo['author']}信息</h4>
                    </div>
                    <div class="modal-body">
                      姓名：{$vo['author']}<br>
                      邮箱：{$vo['email']}<br>
                      tel:{$vo['tel']}<br>
                      学历:{$vo['edu']}<br>
                      专业:{$vo['profession']}<br>
                      职业:{$vo['position']}<br>
                      研究方向:{$vo['direction']}<br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-warning">待审</span></td>
            <td><a href="{$vo['thumb']}" target="block">查看稿件</a></td>
            <td><a href="{$vo['fthumb']}" target="block">查看附件</a></td>

        <form action="{:url('review')}" method="post" id="form{$vo['id']}">
            <input type="hidden" name="id" value="{$vo['id']}">
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-1{$vo['id']}" value="1" name="is_pass">
                  <label for="ckbx-style-11-1{$vo['id']}"></label>
              </div>
            </td>
            <td>
              <textarea name="opinion"  cols="10" rows="1" class="review" placeholder="审改意见">{$vo['opinion']}</textarea>
            </td>
            <td><input type="submit" form="form{$vo['id']}" class="btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
        </form>

          </tr>
          {/volist}
          
        </tbody>
      </table>
      {$nshenhe->render()}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
    <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false"> -->
      <h4 class="panel-title">已通过稿件&nbsp;&nbsp;<span class="badge badge-primary">{$num_pass}</span></h4>
    </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false">
      <table class="table">
        <tbody>
        
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
          <th>操作</th>
        </tr>
        {volist name="pass" id="vo"}

        <tr>
            <td>
            {if condition="$vo['is_repeat'] eq 0"}
            <span class="badge badge-success">首投</span>
            {else /}
            <span class="badge badge-warning">重投</span>
            {/if}
            </td>
            <td>{$vo['title']}</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal2{$vo['id']}">
              <!-- data-target的值由#myModal+文章id组成 -->
                {$vo['author']}
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal2{$vo['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+文章id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">{$vo['author']}信息</h4>
                    </div>
                    <div class="modal-body">
                      姓名：{$vo['author']}<br>
                      邮箱：{$vo['email']}<br>
                      tel:{$vo['tel']}<br>
                      学历:{$vo['edu']}<br>
                      专业:{$vo['profession']}<br>
                      职业:{$vo['position']}<br>
                      研究方向:{$vo['direction']}<br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-success">已审</span></td>
            <td>
              <a href="{$vo['thumb']}" target="block">查看稿件</a>
              </td>
            <td><a href="{$vo['fthumb']}" target="block">查看附件</a></td>

            <form action="{:url('review')}" method="post" id="form{$vo['id']}">
            <input type="hidden" name="id" value="{$vo['id']}">
            <input type="hidden" name="zjid" value="6">
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-1{$vo['id']}" value="1" name="is_pass" checked="checked">
                  <label for="ckbx-style-11-1{$vo['id']}"></label>
              </div>
            </td>
            <td>
              <textarea name="opinion"  cols="10" rows="1" class="review" placeholder="审改意见">{$vo['opinion']}</textarea>
            </td>
            <td><input type="submit" form="form{$vo['id']}" class="btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
        </form>

          </tr>
          
          {/volist}
        </tbody>
      </table>
      {$pass->render()}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true"> -->
      <h4 class="panel-title">未通过稿件&nbsp;&nbsp;<span class="badge badge-danger">{$num_npass}</h4>
    </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true" style="">
      <table class="table">
        <tbody>
        
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
       
          <th>操作</th>
        </tr>
        {volist name="npass" id="vo"}

          <tr>
            <td>
            {if condition="$vo['is_repeat'] eq 0"}
            <span class="badge badge-success">首投</span>
            {else /}
            <span class="badge badge-warning">重投</span>
            {/if}
            </td>
            <td>{$vo['title']}</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal3{$vo['id']}">
              <!-- data-target的值由#myModal+文章id组成 -->
                {$vo['author']}
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal3{$vo['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+文章id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"> {$vo['author']}信息</h4>
                    </div>
                    <div class="modal-body">
                      姓名：{$vo['author']}<br>
                      邮箱：{$vo['email']}<br>
                      tel:{$vo['tel']}<br>
                      学历:{$vo['edu']}<br>
                      专业:{$vo['profession']}<br>
                      职业:{$vo['position']}<br>
                      研究方向:{$vo['direction']}<br>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-success">已审</span></td>
            <td>
              <a href="{$vo['thumb']}" target="block">查看稿件</a>
              </td>
            <td>
            {if condition="$vo['fthumb'] neq ''"}
            <a href="{$vo['fthumb']}" target="block">查看附件</a>
            {else /}
            无附件
            {/if}
            </td>
            <form action="{:url('review')}" method="post" id="form{$vo['id']}">
            <input type="hidden" name="id" value="{$vo['id']}">
            <input type="hidden" name="zjid" value="6">
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-1{$vo['id']}" value="1" name="is_pass">
                  <label for="ckbx-style-11-1{$vo['id']}"></label>
              </div>
            </td>
            <td>
              <textarea name="opinion"  cols="10" rows="1" class="review" placeholder="审改意见">{$vo['opinion']}</textarea>
            </td>
            <td><input type="submit" form="form{$vo['id']}" class="btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
        </form>
          </tr>

          {/volist}
        </tbody>
      </table>
      {$npass->render()}
    </div>
  </div>
</div>


          </form>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #introwrap -->
  </section>


  <section id="message" name="message">
    <div id="footerwrap">
      <div class="container">
      <div class="row ">
      <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h3 class="centered">修改信息</h3>
          <div class="signin-form">
          <form action="{:url('Reviewers/edit')}" method="post">
          <input type="hidden" name="id" value="{$user['id']}">
                  <div class="form-col">
                    <div class="form-group">
                        <label for="uname">用户名</label>
                        <input type="text" class="form-control" id="uname" name="uname" value="{$user['uname']}" pattern="^[-_a-zA-Z0-9]{4,16}$" oninvalid="setCustomValidity('请输入4-16位字母、数字、下划线');" required>
                    </div><!--/.form-group -->
                  </div><!--/.form-col -->
                  <div class="form-col1">
                    <div class="form-group">
                      <label for="name">真实姓名</label>
                        <input type="text" class="form-control" id="name" name="name" value="{$user['name']}" required pattern="^[\u0391-\uFFE5]\w{2,10}+$"
                        oninvalid="setCustomValidity('请输入真实姓名');">
                    </div><!--/.form-group -->
                  </div><!--/.form-col1 -->
                  
                <div class="form-col">
                  <div class="form-group">
                    <label for="pwd">新密码</label>
                      <input type="password" class="form-control" id="pwd" name="pwd" placeholder="请输入新密码" minlength="6">
                  </div><!--/.form-group -->
                </div><!--/.form-group -->
                <div class="form-col1">
                  <div class="form-group">
                    <label for="rpwd">确认密码</label>
                      <input type="password" class="form-control" id="rpwd" placeholder="请确认密码">
                  </div><!--/.form-group -->
                </div><!--/.form-col1 -->

                <div class="form-col">
                  <div class="form-group">
                    <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" value="{$user['email']}" required>
                  </div><!--/.form-group -->
                </div><!--/.form-group -->
                <div class="form-col1">
                  <div class="form-group">
                    <label for="tel"> 电话</label>
                      <input type="tel" class="form-control" id="tel" name="tel" value="{$user['tel']}" required pattern="^13(\d{9})$|^15(\d{9})$|^189(\d{8})$" oninvalid="setCustomValidity('输入错误');">
                  </div><!--/.form-group -->
                </div><!--/.form-col1 -->

                <input type="submit" class="form-control" style="width: 50%;background-color: #43CD80;margin:0 auto;" value="保存修改">
                </form><!--/form -->
          </div>
        </div>
        <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; 重庆工商大学派斯学院 <strong>学报</strong>专家在线审稿系统
      </p>
      <div class="credits">
        Chongqing Institute of Technology<a href="#">Expert Online Review System</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="__INDEX__/reviewers/lib/jquery/jquery.min.js"></script>
  <script src="__INDEX__/reviewers/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="__INDEX__/reviewers/lib/php-mail-form/validate.js"></script>
  <script src="__INDEX__/reviewers/lib/easing/easing.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="__INDEX__/reviewers/js/main.js"></script>
  <script src="__INDEX__/js/jquery.cokie.js"></script>
  <script type="text/javascript">


/*-----------页面刷新回到原来位置---------*/
window.onbeforeunload = function () {

var scrollPos;
if (typeof window.pageYOffset != 'undefined') {
scrollPos = window.pageYOffset;
}
else if (typeof document.compatMode != 'undefined' &&
document.compatMode != 'BackCompat') {
scrollPos = document.documentElement.scrollTop;
}
else if (typeof document.body != 'undefined') {
scrollPos = document.body.scrollTop;
}
//存储滚动条位置到cookies中
document.cookie = "scrollTop=" + scrollPos; 

}


window.onload = function () {
  if (document.cookie.match(/scrollTop=([^;]+)(;|$)/) != null) {
  var arr = document.cookie.match(/scrollTop=([^;]+)(;|$)/); //cookies中不为空，则读取滚动条位置
  document.documentElement.scrollTop = parseInt(arr[1]);
  document.body.scrollTop = parseInt(arr[1]);
  }


  
}
/*--------------------*/

  
  /*审改意见文本框点击变大*/
    $(".review").focus(function(){
        $(this).animate({
      "width" : "300px",
      "height" : "200px"
    })
    }).blur(function(){
      $(this).animate({
      "width" : "93px",
      "height" : "28px"
    })
  });

     //密码验证
    $('.submit').click(function(){

      if($('#rpwd').val()!=$('#pwd').val()){
          alert("两次密码不一致");
          return false;
      }
      
    });
    
    $('#rpwd').blur(function(){
      if($('#rpwd').val()!=$('#pwd').val()){
          alert("两次密码不一致");
      }
    });



  </script>
</body>
</html>
