<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>重庆工商大学派斯学院学报-在线审稿系统</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="__ROOT__/favicon.ico" rel="icon">
  <!-- <link href="__ROOT__/favicon.ico" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="__INDEX__/reviewers/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="__INDEX__/reviewers/css/style.css" rel="stylesheet">

  <!-- icheck-bootstrap.css -->
  <link rel="stylesheet" href=" __INDEX__/css/icheck-bootstrap.css">

  <!-- checkboxes.min.css -->
  <link rel="stylesheet" type="text/css" href="__INDEX__/css/checkboxes.min.css">




  <!-- =======================================================
    Template Name: Pratt
    Template URL: https://templatemag.com/pratt-app-landing-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
<style>
.panel-default>.panel-heading{
  color: white;
  background-color: #8B8386;
}
.panel-default>.panel-heading a{
  color: white;
}

.panel-default>.panel-heading a:hover{
  color: #3bc492;
}
</style>
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

  <!-- Fixed navbar -->
  <div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smothscroll" href="#home"><b>重庆工商大学派斯学院在线审稿系统</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home" class="smothscroll">主页</a></li>
          <li><a href="#reviewers" class="smothscroll">审稿</a></li>
          <li><a href="#message" class="smothscroll">个人信息修改</a></li>
        </ul>
      </div>

      <!--/.nav-collapse -->
    </div>
  </div>

  <section id="home" name="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <h3>欢迎 <b>专家</b></h3>
            <br>
          </div>

          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">基本信息</div>
            <!-- Table -->
            <table class="table">
              <tbody>
                <tr>
                  <td scope="row">电话：888888</td>
                  <td scope="row">邮箱：123@qq.com</td>
                  <td scope="row">审稿类型：自然科学</td>
                </tr>
                <tr>
                  <tr>
                  <td scope="row">待审核稿件&nbsp;&nbsp;<span class="badge badge-warning">3</span></td>
                  <td scope="row">已通过稿件&nbsp;&nbsp;<span class="badge badge-success">4</span></td>
                  <td scope="row">未通过稿件&nbsp;&nbsp;<span class="badge badge-danger">3</span></td>
                </tr>
                <tr>
                  <td><a href="{:url('index/index')}">返回网站主页</a></td>
                  <td><a href="">注销账号</a></td>
                  <td>2020/01/10-14:22</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #headerwrap -->
  </section>


  <section id="reviewers" name="reviewers">
    <!-- INTRO WRAP -->
    <div id="intro">
      <div class="container">
        <div class="row centered">
          <h1>审稿</h1>
          <form action="">
            
            <div class="panel-group" id="accordion">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
      <h4 class="panel-title">待审核稿件&nbsp;&nbsp;<span class="badge badge-success">4</h4>
    </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="false">
      <table class="table">
        <tbody>
        <form action="" id="noview">
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
          <th>操作</th>
        </tr>
          <tr>
            <td><span class="badge badge-success">首投</span></td>
            <td>标题222222222</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal">
              <!-- data-target的值由#myModal+文章id组成 -->
                作者1
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+文章id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"> 作者1联系方式</h4>
                    </div>
                    <div class="modal-body">
                      姓名：作者1<br>
                      邮箱：123@qq.com<br>
                      tel:18877779999
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-warning">待审</span></td>
            <td>
              <a href="http://www.journal.com/uploads/test.pdf" target="block">查看稿件</a>
              </td>
            <td><a href="http://www.journal.com/uploads/test.pdf" target="block">查看附件</a></td>
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-1" value="0" name="ckbx-style-11">
                  <label for="ckbx-style-11-1"></label>
              </div>
            </td>
            <td>
              <textarea name="" id="" cols="10" rows="1" class="review" placeholder="审改意见"></textarea>
            </td>
            <td><input type="submit" class="form-control btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
          </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" aria-expanded="false">
      <h4 class="panel-title">已通过稿件&nbsp;&nbsp;<span class="badge badge-primary">10</span></h4>
    </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false">
      <table class="table">
        <tbody>
        <form action="" id="pass">
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
          <th>操作</th>
        </tr>
        <tr>
            <td><span class="badge badge-warning">重投</span></td>
            <td>标题1111111111111</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal2">
              <!-- data-target的值由#myModal+文章id组成 -->
                作者2
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+文章id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"> 作者2联系方式</h4>
                    </div>
                    <div class="modal-body">
                      姓名：作者2<br>
                      邮箱：123@qq.com<br>
                      tel:18877779999
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-success">已审</span></td>
            <td>
              <a href="http://www.journal.com/uploads/test.pdf" target="block">查看稿件</a>
              </td>
            <td><a href="http://www.journal.com/uploads/test.pdf" target="block">查看附件</a></td>
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-2" value="1" name="ckbx-style-11" checked="checked">
                  <label for="ckbx-style-11-2"></label>
              </div>
            </td>
            <td><textarea name="" id="" cols="10" rows="1" class="review" placeholder="审改意见"></textarea></td>
            <td><input type="submit" class="form-control btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
          </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true">
      <h4 class="panel-title">未通过稿件&nbsp;&nbsp;<span class="badge badge-danger">3</h4>
    </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true" style="">
      <table class="table">
        <tbody>
        <form action="" id="nopass">
        <tr>
          <th>投稿状态</th>
          <th>标题</th>
          <th>作者</th>
          <th>审核状态</th>
          <th>稿件</th>
          <th>附件</th>
          <th>是否通过</th>
          <th>审改意见</th>
       
          <th>操作</th>
        </tr>
          <tr>
            <td><span class="badge badge-success">首投</span></td>
            <td>标题3333333</td>
            <td>
            <!-- 作者联系方式 -->
              <!-- Button trigger modal -->
              <a class="" data-toggle="modal" data-target="#myModal3">
              <!-- data-target的值由#myModal+文章id组成 -->
                作者3
              </a>
  
              <!-- Modal -->
              <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <!-- div的id由myModal+文章id组成 -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"> 作者3联系方式</h4>
                    </div>
                    <div class="modal-body">
                      姓名：作者3<br>
                      邮箱：123@qq.com<br>
                      tel:18877779999
                    </div>
                  </div>
                </div>
              </div>
              <!-- 作者联系方式end -->
            </td>
            <td><span class="badge badge-success">已审</span></td>
            <td>
              <a href="http://www.journal.com/uploads/test.pdf" target="block">查看稿件</a>
              </td>
            <td><a href="http://www.journal.com/uploads/test.pdf" target="block">查看附件</a></td>
            <td>
              <div class="ckbx-style-11">
                  <input type="checkbox" id="ckbx-style-11-3" value="0" name="ckbx-style-11">
                  <label for="ckbx-style-11-3"></label>
              </div>
            </td>
            <td><textarea name="" id="" cols="10" rows="1" class="review" placeholder="审改意见"></textarea></td>
            <td><input type="submit" class="form-control btn btn-success btn-sm" style="width:46px;height: 30px;"></td>
          </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>
</div>


          </form>
        </div>
      </div>
      <!--/ .container -->
    </div>
    <!--/ #introwrap -->
  </section>


  <section id="message" name="message">
    <div id="footerwrap">
      <div class="container">
      <div class="row ">
      <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h3 class="centered">修改信息</h3>
          <div class="signin-form">
          <form action="">
                  <div class="form-col">
                    <div class="form-group">
                        <label for="signin_form">用户名</label>
                        <input type="text" class="form-control" id="signin_form" placeholder="请输入用户名">
                    </div><!--/.form-group -->
                  </div><!--/.form-col -->
                  <div class="form-col1">
                    <div class="form-group">
                      <label for="signin_form">真实姓名</label>
                        <input type="text" class="form-control" id="signin_form" placeholder="请输入真实姓名">
                    </div><!--/.form-group -->
                  </div><!--/.form-col1 -->
                <div class="form-col">
                  <div class="form-group">
                    <label for="signin_form">新密码</label>
                      <input type="password" class="form-control" id="signin_form" placeholder="请输入密码">
                  </div><!--/.form-group -->
                </div><!--/.form-group -->
                <div class="form-col1">
                  <div class="form-group">
                    <label for="signin_form">确认密码</label>
                      <input type="password" class="form-control" id="signin_form" placeholder="请确认密码">
                  </div><!--/.form-group -->
                </div><!--/.form-col1 -->

                <div class="form-col">
                  <div class="form-group">
                    <label for="signin_form">性别</label>
                    <div class="form-control" id="signin_form" style="border:0;">
                      <div class="radio icheck-primary" style="float: left;">
                    <input type="radio" id="men" name="sex" checked="">
                    <label for="men">男</label>
                    </div>
                      <div class="radio icheck-primary" style="float: left;margin-left: 20px;">
                    <input type="radio"  id="women" name="sex">
                    <label for="women">女</label>
                    </div>
                    </div>
                  </div><!--/.form-group -->
                </div><!--/.form-group -->
                <div class="form-col1">
                  <div class="form-group">
                    <label for="signin_form">年龄</label>
                      <input type="text" class="form-control" id="signin_form" placeholder="请输入年龄">
                  </div><!--/.form-group -->
                </div><!--/.form-col1 -->

                <div class="form-col">
                  <div class="form-group">
                    <label for="signin_form">Email</label>
                      <input type="email" class="form-control" id="signin_form" placeholder="请输入邮箱">
                  </div><!--/.form-group -->
                </div><!--/.form-group -->
                <div class="form-col1">
                  <div class="form-group">
                    <label for="signin_form"> 电话</label>
                      <input type="text" class="form-control" id="signin_form" placeholder="请输入电话号">
                  </div><!--/.form-group -->
                </div><!--/.form-col1 -->

                <input type="submit" class="form-control" style="width: 50%;background-color: #43CD80;margin:0 auto;" value="保存修改">
                </form><!--/form -->
          </div>
        </div>
        <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyrights">
    <div class="container">
      <p>
        &copy; 重庆工商大学派斯学院 <strong>学报</strong>作者在线审稿系统
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
          Licensing information: https://templatemag.com/license/
        -->
        Chongqing Institute of Technology<a href="#">Author Online Review System</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="__INDEX__/reviewers/lib/jquery/jquery.min.js"></script>
  <script src="__INDEX__/reviewers/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="__INDEX__/reviewers/lib/php-mail-form/validate.js"></script>
  <script src="__INDEX__/reviewers/lib/easing/easing.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="__INDEX__/reviewers/js/main.js"></script>
  <script type="text/javascript">

$(document).ready(function() {
  /*审改意见文本框点击变大*/
    $(".review").focus(function(){
        $(this).animate({
      "width" : "300px",
      "height" : "200px"
    })
    }).blur(function(){
      $(this).animate({
      "width" : "93px",
      "height" : "28px"
    })
  });
});
/*--------------------------------*/
  </script>
</body>
</html>
