<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重庆工商大学派斯学院学报-文章检索</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__INDEX__/layer/layer.js"></script>
</head>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
			<h4 class="item_title">文章检索</h4>
			<div class="item_content">
			<form action="{:url('search')}" method="post">
			<div class="search-form">
				<div class="input-group">
			      <input type="text" name="atitle" class="form-control" placeholder="请输入标题关键字">
			      </div>
			      <div class="input-group">
			      <input type="text" name="author" class="form-control" placeholder="请输入作者关键字" >
			      </div>
			      <div class="input-group">
			      <select class="form-control" name="acateid">
					<option value="0">请选择领域</option>
					{volist name="acatelst" id="vo"}
					<option value="{$vo['id']}" >{$vo['acatename']}</option>
					{/volist}
				  </select>
				  </div>
				  <div class="input-group" >
				  <select class="form-control juan" name="juan" >
					<option value="0">请选择年份</option>
					{volist name="juanlst" id="vo"}
					<option value="{$vo['juan']}" >{$vo['year']}</option>
					{/volist}
				  </select>
				  </div>
				  <div class="input-group">
				  <select class="form-control qishu" name="qishu">
					<option value="0" >请选择期数</option>
				  </select>
			    </div>
			    <div class="input-group">
				    <span class="input-group-btn">
				        <input type="submit" class="btn btn-info" value="检索" style="width:200px;">
				    </span>
			    </div>
			    </div>
			</form>
<div class="search-res">
	<div class="noselectrow">
	<span style="color: green;font-size: 13px;">检索结果>></span>
		<div class="wenzhang">
		{if condition="$artlst neq ''"}
		
		{volist name="artlst" id="vo"}
		<dl>							
			<div class="dqml_qbwz">
				<dd><a target="_blank" href="{:url('article/article',array('id'=>$vo['id']))}" class="biaoti">{$vo['atitle']}</a>( <font color="red">{$vo['click']}</font> )&nbsp;&nbsp;</dd>
				<dd class="zuozhe">{$vo['name']} <span style="margin-left: 110px;"></span>{$vo['acatename']}<span style="margin-left: 110px;"></span><span>{:date('Y-m-d',$vo['use_time'])}, {$vo['juan']}卷({$vo['qishu']}期)</span>
				<div class="end" style="float:right;">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao" href="javascript:void(0);" >摘要</a> 
					
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="download" href="{$vo['thumb']}" >PDF</a>
					(<font color="red">{$vo['download']}</font>)&nbsp;&nbsp;
				</div>
				</dd>
				<div id="summary{$vo['id']}" class="white_content zhaiyao" style="display:none;">{$vo['summary']}</div>
			</div>
		</dl>
		{/volist}
		{/if}
		</div>
	</div>
</div>
			</div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

<script>
	$(function(){

		$(".juan").on('change',function(){
			if($(".clear").length > 0){
				$(".clear").remove();
			}
			var juan=$(this).val();
			$.ajax({
				url:"{:url('getqishu')}",
				type:"post",
				data:{juan:juan},
				datatype:"json",
				success:function(data){
					var qishu=data.msg.toString();
					qishu=qishu.split(",");
					for(var x in qishu){
						$(".qishu").append("<option class='clear' value='"+qishu[x]+"'>"+qishu[x]+"</option>");
					}
				}
			});
			
		});

		$(".txt_zhaiyao").click(function(){
			var id="#"+$(this).parent().parent().next('.zhaiyao').attr('id');

			if ($(id).css('display')=='block') {
				$(id).css('display','none'); 
			}else{
				$(id).css('display','block');
			} 
		});


	});
</script>
</body>
</html>