<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重庆工商大学派斯学院学报-文章检索</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
			<h4 class="item_title">文章检索</h4>
			<div class="item_content">
			<form action="">
			<div class="search-form">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="请输入关键字">
			      </div>
			      <div class="input-group">
			      <select class="form-control">
					<option>请选择领域</option>
					<option>物理</option>
					<option>化学</option>
					<option>人工智能</option>
					<option>物联网</option>
				  </select>
				  </div>
				  <div class="input-group">
				  <select class="form-control">
					<option>请选择年份</option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
					<option>2019</option>
					<option>2020</option>
				  </select>
				  </div>
				  <div class="input-group">
				  <select class="form-control">
					<option>请选择期数</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
					<option>10</option>
					<option>11</option>
					<option>12</option>
				  </select>
			    </div>
			    <div class="input-group">
				    <span class="input-group-btn">
				        <button class="btn btn-default" type="button">检索</button>
				    </span>
			    </div>
			    </div>
			</form>
<div class="search-res">
	<div class="noselectrow">
	<span style="color: green;font-size: 13px;">检索结果>></span>
		<div class="wenzhang">
		<dl>							
			<div class="dqml_qbwz">
				<dd><a target="_blank" href="http://www.journal.shu.edu.cn/CN/10.12066/j.issn.1007-2861.2117" class="biaoti">资本市场中公众企业信息披露的Nash均衡</a></dd>
				<dd class="zuozhe">马嘉萌, 郭苏稼, 李远勤</dd>
				<dd class="kmnjq"><a href="">2019年, 25卷(6期)</a></dd>
				<dd class="zhaiyao">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao1" href="javascript:void(0)" onclick="if (document.getElementById('Abstract17065').style.display=='block') document.getElementById('Abstract17065').style.display='none'; else document.getElementById('Abstract17065').style.display='block'">摘要</a> 
					( <font color="red">5</font> )&nbsp;&nbsp;
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="txt_zhaiyao1" href="#1" onclick="lsdy1('PDF','17065','http://www.journal.shu.edu.cn','2019','1221');return false;">PDF</a> (664KB)
					(<font color="red">2</font>)&nbsp;&nbsp; 											
				</dd>
					<div id="Abstract17065" class="white_content zhaiyao">旨在探讨信息披露如何约束上市公司，为解释以前文献的争议提供思路.通过建立不同类型企业在融资过程中的博弈模型，考虑专业投资者的比例，对该模型中纯战略Nash均衡和混合战略Nash均衡展开分析，以揭示信息披露如何在保障资本市场正常运作中不可或缺.研究表明，懂得依据公司质量进行投资的专业投资者比例越小，强制信息披露带来的社会总收益增加越大；特别地，当专业投资者小于一定比例时，强制信息披露是维持市场稳定的必要机制，能有效避免市场的失灵.强制信息披露带来的社会总收益增加在以下情况中更大：投资回报率差异显著，投资规模较大，融资成本较高，市场对于不披露信息惩罚较大.</div>
			</div>
		</dl>
		</div>
		<div class="wenzhang">
		<dl>							
			<div class="dqml_qbwz">
				<dd><a target="_blank" href="http://www.journal.shu.edu.cn/CN/10.12066/j.issn.1007-2861.2117" class="biaoti">资本市场中公众企业信息披露的Nash均衡</a></dd>
				<dd class="zuozhe">马嘉萌, 郭苏稼, 李远勤</dd>
				<dd class="kmnjq"><a href="">2019年, 25卷(6期)</a></dd>
				<dd class="zhaiyao">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao1" href="javascript:void(0)" onclick="if (document.getElementById('Abstract17065').style.display=='block') document.getElementById('Abstract17065').style.display='none'; else document.getElementById('Abstract17065').style.display='block'">摘要</a> 
					( <font color="red">5</font> )&nbsp;&nbsp;
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="txt_zhaiyao1" href="#1" onclick="lsdy1('PDF','17065','http://www.journal.shu.edu.cn','2019','1221');return false;">PDF</a> (664KB)
					(<font color="red">2</font>)&nbsp;&nbsp; 											
				</dd>
					<div id="Abstract17065" class="white_content zhaiyao">旨在探讨信息披露如何约束上市公司，为解释以前文献的争议提供思路.通过建立不同类型企业在融资过程中的博弈模型，考虑专业投资者的比例，对该模型中纯战略Nash均衡和混合战略Nash均衡展开分析，以揭示信息披露如何在保障资本市场正常运作中不可或缺.研究表明，懂得依据公司质量进行投资的专业投资者比例越小，强制信息披露带来的社会总收益增加越大；特别地，当专业投资者小于一定比例时，强制信息披露是维持市场稳定的必要机制，能有效避免市场的失灵.强制信息披露带来的社会总收益增加在以下情况中更大：投资回报率差异显著，投资规模较大，融资成本较高，市场对于不披露信息惩罚较大.</div>
			</div>
		</dl>
		</div>
	</div>
</div>
			</div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

</body>
</html>