<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重庆工商大学派斯学院学报-过刊浏览</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
		<h1 class="item_title">当期目录</h1>
			<h4 class="m-nav"><icon class="glyphicon glyphicon-home"> </icon><a href="{:url('index/index')}">首页>></a><a href="{:url('joulist/history')}">过刊浏览>></a><span>{$year}年 {$juan} 卷第{$qishu}期</span></h4>
			<div class="item_content">
	<div class=noselectrow>
		<div class="wenzhang">
			<dl>							
				<div class="artlist">
				{volist name="artlst" id="vo"}
	<div  class=noselectrow>
		<div class="wenzhang">
		<dl>							
			<div class="dqml_qbwz">
				<dd style="font-size: 14px;">
					<a target="_blank" href="{:url('article/article',array('id'=>$vo['id']))}" class="biaoti">{$vo['atitle']}</a>	( <font color="red">{$vo['click']}</font> )&nbsp;&nbsp;					
				{$vo['name']}
				<div style="float: right;">
					<input type="hidden" id="aid" value="{$vo['id']}">
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/abstract2.png" width="16" height="16"> 
					<a class="txt_zhaiyao" href="javascript:void(0);" >摘要</a> 
					<img src="http://www.journal.shu.edu.cn/images/1007-2861/pdf.png" width="16" height="16">
					<a class="download" href="{$vo['thumb']}"  target="_blank">下载</a>
					(<font color="red" id="download{$vo['id']}">{$vo['download']}</font>)&nbsp;&nbsp; 
					</div>										
				</dd>

					<div id="summary{$vo['id']}" class="white_content zhaiyao">{$vo['summary']}</div>
			</div>
		</dl>
		</div>
	</div>
	{/volist}
				</div>
			</dl>
		</div>
	</div>
	</div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->


<script>
	$(function(){


		$(".txt_zhaiyao").click(function(){
			var id="#"+$(this).parent().parent().next('.zhaiyao').attr('id');

			if ($(id).css('display')=='block') {
				$(id).css('display','none'); 
			}else{
				$(id).css('display','block');
			} 
		});

		$('.download').click(function(){
			var aid=$(this).parent().children('#aid').val();
			// alert(aid);return false;
			$.ajax({
				url:"{:url('article/add_download')}",
				type:"post",
				data:{aid:aid},
				datatype:"json",
				success:function(data){
					if(data.code==1){
						// alert(data.num);return false;
						var id="#download"+aid;
						$(id).text(data.num);
						// alert($(id).text());return false;
					}else{
						alert(data.num);
					}
				}
			});
		});


	});
</script>
</body>
</html>