<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>重庆工商大学派斯学院学报-2019年 25卷</title>
	
	<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__INDEX__/css/index.css">
	<script src="__INDEX__/js/jquery.min.js"></script>
	<script src="__INDEX__/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- head开始 -->
	{include file="public/head" /}
	<!-- head结束 -->
	
<!-- content开始 -->
<div class="container">
	<div class="row">

	<!-- 左边 -->
		<div class="left-sidebar col-md-8" style="padding-right: 20px;">
			<h4 class="m-nav"><icon class="glyphicon glyphicon-home"> </icon><a href="{:url('index/index')}">首页>></a><span>2019年 25卷</span></h4>
			<div class="item_content">
	<div class=noselectrow>
		<div class="wenzhang">
			<dl>							
				<div class="artlist">
				<dd>
					<a target="_blank" href="#" class="biaoti">第一期</a>
					<a target="_blank" href="#" class="biaoti">第二期</a>
					<a target="_blank" href="#" class="biaoti">第二期</a>
					<a target="_blank" href="#" class="biaoti">第二期</a>
				</dd>
				<dd>
					<a target="_blank" href="#" class="biaoti">第二期</a>
				</dd>
				<dd>
					<a target="_blank" href="#" class="biaoti">第三期</a>
				</dd>
				<dd>
					<a target="_blank" href="#" class="biaoti">第四期</a>
				</dd>
				</div>
			</dl>
		</div>
	</div>
	</div>
		</div>
	<!-- 右边 -->
		{include file="public/right" /}
	<!-- 右边end -->
		
	</div>
</div>
<!-- content结束 -->

<!-- foot开始 -->
	{include file="public/foot" /}
<!-- foot结束 -->

</body>
</html>