<div class="header">
		<div class="banner">
		<img src="__INDEX__/picture/logo.png" alt="">
		</div>
			<div class="nav">
				<div class="navson">
				<span style="margin-right:50px;"><font style="line-height: 40px;color: #ffffff;font-size: 17px;">		2020年1月3日 星期五</font></span>
				<ul class="navMenu">
					<li><a href="{:url('index/index')}">首页</a></li>
					<li><a href="{:url('page/desc')}">学报简介</a></li>
					<li><a href="{:url('artlist/news')}">学报动态</a></li>
					<li><a href="{:url('artlist/notice')}">学报公告</a></li>
					<li><a href="{:url('joulist/history')}">过刊浏览</a></li>
					<li><a href="{:url('search/search')}">文章检索</a></li>
					<li><a href="{:url('page/helps')}">投稿指南</a></li>
					<li><a href="{:url('page/call')}">联系我们</a></li>
				 </ul>
				 </div>
   			</div>
</div>