<div class="right-sidebar col-md-4">
		<!-- 稿件处理系统 -->
			<div class="graft block">
				<div class="title gjclxt">
					<div class="title_2">稿件处理系统</div>
				</div>
				<div class="content">
					<div class="office-2">
                <div class="office-2-l">
                   <a href="{:url('Login/signin')}" target="_blank">
                        <div class="office-2-l-l">
                            <span class="glyphicon glyphicon-user" style="margin-top: 45px;"></span>
                        </div>

                        <div class="office-2-l-r">
                            用户登录
                        </div>
                    </a>
                </div>
                <div class="office-2-r">
                   <a href="{:url('Register/signup')}" target="_blank">
                        <div class="office-2-l-l">
                           <span class="glyphicon glyphicon-plus" style="margin-top: 45px;"></span>
                        </div>
                        <div class="office-2-l-r">
                            作者注册
                        </div>
                    </a>
                </div>
                </div>
                <div class="office-2">
                <div class="office-2-l">
                    <a href="{:url('Author/index')}" target="_blank">
                        <div class="office-2-l-l">
                        	<span class="glyphicon glyphicon-envelope" style="margin-top: 45px;"></span>
                        </div>
                        <div class="office-2-l-r">
                            在线投稿
                        </div>
                    </a>
                </div>
                <div class="office-2-r">
                    <a href="{:url('Reviewers/index')}" target="_blank">
                        <div class="office-2-l-l">
                            <span class="glyphicon glyphicon-search" style="margin-top: 45px;"></span>
                            </div>
                        <div class="office-2-l-r">
                            在线审稿
                        </div>
                    </a>
                </div>
            </div>
            
				</div>
			</div>
		<!-- 期刊信息 -->
			<div class="jmessage block">
				<div class="title qkxx">
					<div class="title_2 qkxx">期刊信息 </div>
				</div>
				<div class="content">
					<div class="qkxx_fm">
					<img src="__INDEX__/picture/20200102190358.jpg">
					</div>
					<div class="qkxx_xx">
				
					（月刊，2019年创刊）<br>
					主管单位：重庆市教育委员会<br>
					主办单位：重庆工商大学派斯学院<br>
					发行范围：公开<br>
					中国标准连续出版物号：<br>ISSN 1673-3851|CN 33-1338/TS

			</div>
				</div>
			</div>
		<!-- 投稿须知 -->
			<div class="dmessage block">
				<div class="title tgxz">
					<div class="title_1">学报公告<a href="#" class="more-a">&gt;</a></div>
				</div>
				<div class="content tgxa-c">
				
				<ul>
				{volist name="notice" id="vo"}
					<li><a href="{:url('page/article',array('id'=>$vo['id'],'title'=>'学报公告'))}" target="_blank" class="icon_list1">{$vo['title']}</a></li>
				{/volist}
					
				</ul>
				</div>
			</div>
		<!-- 友情链接 -->
			<div class="link">
				<div class="title yqlj">
					<div class="title_2">友情链接</div>
				</div>
				<div class="content yqlj-con">
					<dl>
					{volist name="linklst" id="vo"}
						<dd><a href="http://{$vo['url']}/" target="_blank" class="lanse">
						<img src="{$vo['pic']}" width="300" height="75" alt="{$vo['name']}">
						</a></dd>
					{/volist}
					</dl>
				</div>
			</div>
		</div>